SECUBOT_URL=http://localhost:9000/api/v1/alerts
DISCORD_URL=http://localhost:9001/api/v1/notify
MONGO_URI=mongodb+srv://bcamiloaguirre_db_user:root@mongosecubot.q6fohda.mongodb.net/?appName=MongoSecuBot
MONGO_DB_NAME=secubot